body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-variant: unset; */
  color: #000;
  /* font-weight: lighter; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: hidden;
}
/* CSS код зі стилізаціями для скрола */
::-webkit-scrollbar {
  width: 1px; /* Ширина скрола */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Колір треку скрола */
}

::-webkit-scrollbar-button {
  background-color: transparent; /* Колір кінцівки скрола */
}

/* Стилі для точок (dots) */
.slider .slick-dots li button:before {
  color: #007586; /* Змініть колір точок тут */
}

.slider .slick-dots li.slick-active button:before {
  color: #007586; /* Колір активної точки */
}

/* Стилі для стрілок */
.slider .slick-prev:before,
.slider .slick-next:before {
  color: #007586; /* Змініть колір стрілок тут */
}

ul,
li,
a,
p,
button {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
